*{
  margin:  0;
  padding: 0;
  box-sizing:  border-box;

}

body {

    background-image: url("./images/ecommerce-bg.jpg");
  background-size: 100%;


}

.btn {
  margin-bottom: 10px;
}

/*.main {

  background-image: url("./images/ecommerce-bg.jpg");
  background-size: 100%;
}*/

.cardHighLight{
  min-height: 100%;
}

.App {
  text-align: center;
/*  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: lightblue;*/
    background-image: url("./images/ecommerce-bg.jpg");
  background-size: 100%;

}

.auth-form-container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;



} 


.login-form, .register-form .reg-email, .reg-pass1, .reg-pass2, .log-email, .log-password{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

}

.register-label, .loginplease{
  padding-top: 10px;
  font-size: 30px !important;
  font-family: sans-serif !important;
  font-weight: bolder;
  color: red;

}



.reg-label{
  padding-top: 5px;
  text-align: left;
  align-items: left;
  font-weight: bold;
}


.reg-pass2  {

  padding-bottom: 20px;

}


.button1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    border: none;
  background-color: darkred;
    justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

}


.text-muted, .donthaveaccount {
  visibility: unset;
  font-size: 10px !important;
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


